version: '2'

services:

  https-portal:
    image: steveltn/https-portal
    volumes:
      - ./wordpress:/var/www/html
      - ./nginx:/var/www/vhosts
      - ./logs/nginx:/var/log/nginx
      - ./nginx-conf/{{ domain }}.conf.erb:/var/lib/nginx-conf/{{ domain }}.conf.erb:ro
      - ./nginx-conf/{{ domain }}.ssl.conf.erb:/var/lib/nginx-conf/{{ domain }}.ssl.conf.erb:ro
    ports:
      - '80:80'
      - '443:443'
    environment:
      CLIENT_MAX_BODY_SIZE: '64M'
      GZIP: 'on'
      DOMAINS: '{{ domain }}'
      PRODUCTION: 'false'
    links:
      - wordpress
    restart: always

  wordpress:
    image: wordpress:{{ wp_version }}-{{ php_fmp_version }}
    ports:
      - '9000:9000'
    volumes:
      - ./wordpress:/var/www/html
      - ./wordpress/uploads.ini:/usr/local/etc/php/conf.d/uploads.ini
    environment:
      WORDPRESS_DB_NAME: '{{ wp_db_name }}'
      WORDPRESS_TABLE_PREFIX: '{{ wp_db_tb_pre }}'
      WORDPRESS_DB_HOST: '{{ wp_db_host }}'
      WORDPRESS_DB_PASSWORD: '{{ wp_db_psw }}'
    links:
      - db:mysql
    restart: always

  db:
    image: mariadb
    ports:
      - '3306:3306'
    volumes:
      - ./wp-db-data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: '{{ wp_db_psw }}'
    restart: always
